/*Content:  CSS file
	Focus:  Developing divs to better format the page
	Format:  Follows standard CSS design.
 */
 /*Set the design of the HTML as a whole
   Mostly the size of the background, currently not in use.*/
#html{ 
	
	height: 100%;
	width: 100%;
	background: url(http://www.cannoncorp.us/wp-content/uploads/2012/07/electrical-Medium.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*position: fixed;
	z-index: -1; 
	background-color:#cccccc;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: 100%; */
	
}
/* Set the design of the header div, sets the color gradient effect*/
#header{
	/*position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 12%;
	text-align: left;
	z-index: 100000;*/
	
	position:fixed;
	top:0px; 
	left: 0px;
	margin:auto; 
	z-index:100000; 
	width:100%;
	height: 13%;
	opacity: .95;
	
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #F08205 0%, #B01919 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #F08205 0%, #B01919 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #F08205 0%, #B01919 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F08205), color-stop(1, #B01919));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #F08205 0%, #B01919 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #F08205 0%, #B01919 100%);
	
	
}

/* Sets the design of the content and how it fits on the page*/
#page{
	width: 90%;
	height: 100%;
	text-align: left;
	overflow: auto;

}

/* Sets the design of the sidebar div and how it fits on the left side of the page*/
#sidebar{
	float: left;
	position: relative;
	overflow-y: auto;
	text-align: left;
	height: 100%;
	width: 20%;
	background-color: #3D9AD1;
	/*background-image: linear-gradient(bottom, rgb(200,200,200) 30%, rgb(45,53,77) 72%);
	background-image: -o-linear-gradient(bottom, rgb(200,200,200) 30%, rgb(45,53,77) 72%);
	background-image: -moz-linear-gradient(bottom, rgb(200,200,200) 30%, rgb(45,53,77) 72%);
	background-image: -webkit-linear-gradient(bottom, rgb(200,200,200) 30%, rgb(45,53,77) 72%);
	background-image: -ms-linear-gradient(bottom, rgb(200,200,200) 30%, rgb(45,53,77) 72%);*/

	/*background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.3, rgb(200,200,200)),
		color-stop(0.72, rgb(45,53,77))
	);
	/*background-image: url("images/content7.jpg");*/
	border: 1px solid #000;
	/*overflow: invisible;*/
}

/* Sets the design of the content div and how big the font is.*/
#content{
	float:right;
	width: 68%;
	background-color: #3D9AD1;
	/*background-image: linear-gradient(bottom, rgb(99,125,125) 30%, rgb(33,71,48) 58%);
	background-image: -o-linear-gradient(bottom, rgb(99,125,125) 30%, rgb(33,71,48) 58%);
	background-image: -moz-linear-gradient(bottom, rgb(99,125,125) 30%, rgb(33,71,48) 58%);
	background-image: -webkit-linear-gradient(bottom, rgb(99,125,125) 30%, rgb(33,71,48) 58%);
	background-image: -ms-linear-gradient(bottom, rgb(99,125,125) 30%, rgb(33,71,48) 58%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.3, rgb(99,125,125)),
		color-stop(0.58, rgb(33,71,48))
	);*/
	border: 1px solid #f00;
	padding: 3%; /*KEEP A CLOSE EYE ON THIS */
	overflow:invisible;
}

/* Sets the design for the footer div and fixes it to the bottom of the page*/
#footer{
   position:fixed;
   bottom: 0;
   /*bottom:0;*/
   left: 0;
   width:100%;
   height:7%;   /* Height of the footer */
   background: #434343;
   opacity: .8;
}

#footerText{
	font-size:12pt;
	color: white;
	text-align: center;
}

/* Background image, currently not in use*/
#bg {
	position:absolute; 
	top:-20%; 
	left:-20%; 
	width:200%; 
	height:200%;
	background: #5CCDC9;
}

/* Div meant for content instead of using the <h> tags*/
#subheader{
	font-weight: bold;
	font-size: 16pt;
}

/* Image div, currently not in use*/
#images{
	width: 20%;
	height: 20%;
}

/* Div that sets the images that will be used in the rotating background.*/
#slideshow, img.bgM {
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index:-9999;
	background: #5CCDC9;
}

/* Div meant to alter the font of the content.  Currently not in use.*/
#reference{
	/*font-weight: bold;*/
	font-size: 16pt;
	font-family: Times New Roman;
	color: White;
}

/* Div meant to set the tone of the left sidebar. Currently not in use.*/
#menuHeader{
	font-weight: bold;
	font-size:18pt;
	font-family: Serif;
	color: White;
}

/* Alters the color presented when highlighting the content.*/
p.orange::selection {
	background:#c2660d; 
	color:#fff;
}

/* Alters the color presented when highlighting the content.*/
p.orange::-moz-selection {
	background:#c2660d; 
	color:#fff;
}

/* Alters the color presented when highlighting the content.*/
p.orange::-webkit-selection {
	background:#c2660d; 
	color:#fff;
}

/* Alters the color presented when highlighting the content.*/
p.red::selection {
	background:#EC0033; 
	color:#fff;
}

/* Alters the color presented when highlighting the content.*/
p.red::-moz-selection {
	background:#EC0033; 
	color:#fff;
}

/* Alters the color presented when highlighting the content.*/
p.red::-webkit-selection {
	background:#EC0033; 
	color:#fff;
}

/* Alters the color presented when highlighting the content.*/
h2.yellow::selection {
	background:#00BF32; 
	color:#fff;
}

/* Alters the color presented when highlighting the content.*/
h2.yellow::-moz-selection {
	background:#00BF32; 
	color:#fff;
}

/* Alters the color presented when highlighting the content.*/
h2.yellow::-webkit-selection {
	background:#00BF32; 
	color:#fff;
}
